.container {
    background-color: #d1d1d14d;
    padding: 4rem;
}

.form {
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
}

.form >label>span {
    width: 9rem;
    display: inline-block;
}

.button {
    display: flex;
    justify-content: flex-end;
    column-gap: 1rem;
}
.cancel{
    background-color: #fff;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid red;
    color:red;
}
.submit{
    background-color: green;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: none;
    color:white;

}
.form input,select{
    padding: 0.5rem;
}
.req {
    color: red;
}
table{
    width: 100%;
    margin-top: 1rem;
}

tr,td,th{
    text-align: center;
    padding: 1rem;
}

tr:nth-child(even){
    background-color: antiquewhite;
}
tr:nth-child(odd){
    background-color:bisque;
}